@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --poppins-:"Poppins", sans-serif;
    --roboto-: "Roboto", sans-serif;
    --second-color-: #1E1E21;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
   border-radius: 1rem;
    background-color: aliceblue;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0F0F10;
    padding: 0.5rem;
}
img{
    object-fit: contain;
}
.max{
    max-width: 1200px;
    margin-inline: auto;
}
p{   
    color: rgb(189, 192, 194);
    font-family: var(--roboto-);
    line-height: 27px;
    /* width: max-content; */
}
h1{
    background: linear-gradient(180deg, #6A6A6A 0%, #272829 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--poppins-);
    font-weight: 700;
}
h2{
    color: white;
    font-size: 51px;
    font-weight: 700;
    font-family: var(--poppins-);
}
h4{
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: var(--poppins-);
}
li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-family: var(--roboto-);
}
button{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--poppins-);
    font-size: 18px;
    color: #BDC0C2;
    border: none;
    background-color: #1E1E21;
    width: max-content;
    padding: 8px 30px !important;
    border-radius: 4px;
}
button:hover, .social li img:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn-secondary{
    background-color: #0F0F10;
}
.logo{
    width: 40px;
}
/* ----- Header ----- */
header{
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
nav .navigation{
    display: flex;
    gap: 4rem;
}
.navigation .links, .specs .container, .case .container, .banner .container, .items{
    display: flex;
    align-items: center;
}
.navigation .links{
    gap: 1.5rem;
}
.ham-menu{
    display: none;
}
/* -----First main----- */
.hero, .hero .container .container-2{
    display: flex;
    padding: 1rem;
}
.hero .image{
     height: 100vh;
}
.hero .image img{
    position: relative;
    top: -12rem;
    margin-left: 8rem;
   
}
.hero .container .gradient-h1{
  position: absolute;
  font-size: 128px;
  padding: 1rem;
  right: 11rem;
}
.hero .container .container-2{
    flex-direction: column;
    gap: 1rem;
    margin-top: 9rem;
    margin-left: 8rem;  
}
.container-2 p{
    width: 60%;
}
/* ----Logo Section---- */
.company-logos{
    margin-top: -9rem;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}
/* !----Specs Section----! */
.specs{
    padding: 1rem;
    margin: 6rem 0;
}
.specs h1, .case h1, .style h1{
        font-size: 64px;
        text-align: center;
}
.specs .container{
    justify-content: space-around;
    margin-top: 3rem;
}
.texts{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}
.container .texts li{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    border-radius: 12px;
}
.texts li img, .specs .container .image{
    width: min-content;
}
.container .texts li:first-child, .container .texts li:last-child{
    margin-left: 3rem;
}
.container .texts li:hover{ 
    background-color: var(--second-color-);
}
.specs .container .image img, .banner .container .image img{
    width: 450px;
}
/* !----Case Section----! */
.case .container{
    justify-content: center;
    flex-wrap: wrap;
    gap: 6rem;
    margin-top: 2rem;
} 
.case .container .text{
    width: 30%;
}
.case .text p{
    padding: 1rem 0;
    width: 100%;
}
/* !-----Banner Section-----! */
.banner{
    background-color: var(--second-color-);
    border-radius: 1rem;

}
.banner .container{
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 8rem 0;
    margin: 9rem 0;
}
.banner .container .text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}
/* !-----Product Section-----! */
.style .container {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    margin: 5rem 0;
    padding: 1rem;
    row-gap: 8rem;
}
.items{
    flex-direction: column;
    width: 28%;
    padding: 1rem ;
    background-color: var(--second-color-);
}
.items .image{
    margin-top: -3rem;
    padding-bottom: 3rem;
}
.items .text{
    width: 100%;
}
/* !-----Footer section-----! */
footer, .items .text, .form div {
    display: flex;
    justify-content: space-between;
}
footer{
    padding: 1rem;
}
.form, .social, footer .links{
    display: flex;
    gap: 1rem;
}
.form, footer .links{
    flex-direction: column;
}
.form div{  
    padding: 6px 15px ;
    width: 100%;
    height: max-content;
    background-color: var(--second-color-);
}
.form div input{
    background-color: transparent;
    width: 200px;
    border: none;
    font-size: 18px;
}
.links h4{
    font-size: 21px;
}
.links li{
    opacity: 0.7;
}
.links li:hover{
    opacity: 1;
}
/* !---Copyright section---! */
.copyright{
    color: #BDC0C2;
    text-align: center;
    font-family: var(--roboto-);
    padding: 2rem;
}
@media (max-width:840px) {
    .hero .image img{
        margin-left: 2rem;
    }
    .hero .image{
        height: max-content;
    }
    .hero .container .gradient-h1{
        right: 0;
        font-size: 90px
    }
    .hero .container .container-2{
        margin-left: 3rem;  
    }
    .container-2 p, .banner .container .text{
        width: 100%;
    }
    .banner .container .text{
        padding: 0 3rem;
    }
    .items{
        width: 232px;
    }
}
@media (max-width:440px) {
    h2{
        font-size: 35px;
    }
    nav .navigation{
        display: none;
    }
    .ham-menu{
        display: block;
    }    
    .hero, .company-logos, .specs .container, .texts, footer{
        flex-wrap: wrap;
    }
    .hero .image{
        height: 30vh;
    }
    .hero .image img{
     width: 45vw;
    }
    .hero .container .container-2{
        margin-top: 9rem;
        margin-left: 0;
        padding: 0;
    }
    .container-2 p, .case .container .text, .banner .container .image img, .items{
        width: 100%;
    }
    .company-logos{
        margin-top: 3rem;
        gap: 2rem;
    }
    .specs{
        margin: 3rem 0;
    }
    .specs .container {
        flex-direction: column-reverse;
    }
    .texts{
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        gap: 1rem;
        margin-top: 2rem;
  }
    .specs .texts li{
    justify-content: center;
    gap: 6px;
    background-color: var(--second-color-);
    padding: 1rem;
    width: 100%;
    max-width: 140px;
    height: 200px;
    }
    .container .texts li:first-child, .container .texts li:last-child{
        margin-left: 0;
    }
    .specs .container .image img{
        width: min-content;
    }
    .case .container{
        margin-top: 1rem;
        gap: 2rem;
        padding: 0.5rem;
    }
    .banner{
        margin: 0.5rem;
    }
    .banner .container {
        padding: 2rem  0;
        margin: 3rem 0;
    }
    .banner .container .text{
        padding: 0 1rem;
    }
    .banner .container .image img{
        padding: 1rem;
    }
    footer{
        gap: 4rem;
        padding: 0.5rem;
    }
    .form div{
        justify-content: center;
    }
    .form div input{
        width: 150px;
    }

}



